@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
  }
  #about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .setion-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .setion-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    height: 275px;
    width: 275px;
    margin: 0 auto 2rem;
  }
  about-containers {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  //   html {
  //     font-size: 13px;
  //   }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    gap: 1rem;
  }
  .section__pic-container {
    justify-content: center;
  }
  .section__pic-container-about {
    display: none;
  }
  .about-containers {
    flex-direction: column;
  }
  .text-container p {
    text-align: justify;
  }
  .article-container {
    gap: 0;
  }
}
